@{
    ViewBag.Title = "Admin Sign-In";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>Admin</h1>
        <p class="lead">Please, Sign-in to continue.</p>

        @{
            if (TempData["AdminSignInError"] != null && TempData["AdminSignInError"].ToString() == "True")
            {
                <p style="color:red">Either email or password is not correct.</p>
            }
        }
        <form method="post" action="/Home/SignIn/">
            <input type="text" name="Email" id="Email" placeholder="Email" />

            <input type="password" name="Password" id="Password" placeholder="Password" />
            <button class="btn btn-primary btn-lg" type="submit">Sign-In</button>
        </form>
    </div>

</div>

